    <title>Hotel Alamo : Principal</title>
</head>
<body>
    <div class="navigationmenu">
        <nav class="p-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                        <img id="logo" src="http://localhost/HotelProfesional/Resource/img/logo.png" alt="logo Hotel Alamo" class="logo">
                        <label for="logo" id="lbllogo" class="tittle">Hotel Alamo</label>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                        <a href="" class="btn dorbg">Inicio</a>
                        <a href="http://localhost/HotelProfesional/Index/reserve" class="btn dorbg">Reservar</a>
                        <a href="http://localhost/HotelProfesional/Index/index" class="btn dorbg">Mis Reservas</a>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">
                        <a id="btnIniciarSesion" href="http://localhost/HotelProfesional/Login/login" class="btn dorbg">Iniciar Sesión</a>
                        <a id="btnCerrarSesion" href="http://localhost/HotelProfesional/Login/cerrarSesion" class="btn dorbg">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" src="http://localhost/HotelProfesional/Resource/img/img1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="http://localhost/HotelProfesional/Resource/img/img2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="http://localhost/HotelProfesional/Resource/img/img3.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container-fluid">
            <div class="rounded lastnews darkbg mt-2 mb-2 p-1">
                <h4 class="tittle">Ultimas Noticias</h4>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 whibg">
                        <div class="rounded news p-2 my-2">
                            <h5 class="tittle">Lorem ipsum dolor sit amet consectetur</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio voluptatum minus quo. Soluta quis nam similique dolores voluptates labore cumque, temporibus placeat! Beatae, voluptatum debitis dolores ab illo amet quo?</p>
                            <div class="newschild"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 whibg">
                        <div class="rounded news p-2 my-2">
                            <h5 class="tittle">Lorem ipsum dolor sit amet consectetur</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam laborum enim, exercitationem unde iste sit fugiat fuga eligendi at laudantium beatae. Autem quidem esse, ipsa rerum accusamus repudiandae vel reiciendis?</p>
                            <div class="newschild"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>